# Ignore everything
*

# But not these files...

!*.gitignore
!*.v
!*.bsf
!*.bdf
!*.mem
!*.txt
!*.pdf
!*.docx
!*.inc
!*.qip
!*.mp4
!tests/
!tests/codes
!alu/
!doc/
!alu/main/
!alu/main/format1/
!alu/main/format1_blocks/
!alu/main/format4/
!alu/main/format4_blocks/
!*.py
!*.txt
!
